<div style="text-align:center">
    <div *ngIf="!firstName; else welcome">
        <div>
            <label>
                <input [(ngModel)]="login.username" placeholder="name" />
            </label>
        </div>
        <div>
            <label>
                <input [(ngModel)]="login.password" placeholder="password" />
            </label>
        </div>
        <div>
            <button (click)="tryLogin()">Login</button>
        </div>
    </div>
    <ng-template #welcome>
        <div> Welcome {{firstName}} </div>
        <div>
            <button (click)="tryLogout()">Logout</button>
        </div>
    </ng-template>

</div>